<%- include ("partials/header.ejs") %>
    <body>
        <div id="container">
            <%- include ("partials/sidebar.ejs") %>
            <div class="subcontainer">
                <div class="separation">
                    <h1 class="featurette-heading fw-normal lh-1"><%=title%></h1>
                </div>
                <div class="container">
                    <h2 class="featurette-heading fw-normal lh-1">Page en développement...</h2>
                </div>
                <div class="separation"></div>
            </div>
        </div>
    </body>
</html>