<%- include ("partials/header.ejs") %>
    <body>
        <div id="container">
            <%- include ("partials/sidebar.ejs") %>
            <div class="subcontainer">
                <div class="separation">
                    <h1 class="featurette-heading fw-normal lh-1"><%=title%></h1>
                </div>
                <div class="my-5">
                    <div class="p-5 text-center bg-body-tertiary jumbotron">
                        <div class="container py-5">
                            <h2 class="text-body-emphasis">Qui est Keven Philibert ?</h1>
                            <p class="col-lg-8 mx-auto lead">
                                J'ai commencé mon parcours au cégep de Sorel-Tracy en 2013. J'ai ensuite été développeur pour plusieurs compagnies pendant 6 ans. 
                                En début avril 2024 j'ai complété un autre cours de développeur web pour me mettre à jour avec les dernières technologies. 
                                Par la suite, j'ai créé ce site pour démontrer mon expérience et tester mes connaissances.
                                Étant autodidacte, je suis motivé pour apprendre de nouvelles technologies ou perfectionner celles que je connais déjà.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="my-5">
                    <div class="p-5 text-center bg-body-tertiary jumbotron">
                        <div class="container py-5">
                            <h2 class="text-body-emphasis">Le site web et l'API</h1>
                            <p class="col-lg-8 mx-auto lead">
                                Site web réalisé avec le framework Boostrap et EJS comme template pour le frontend. 
                                NodeJS utilisé pour le backend avec le framework ExpressJS et Axios pour les requêtes d'API.
                            </p>
                            <p class="col-lg-8 mx-auto lead">
                                API créé et utilisé pour aller chercher les données stocké en JSON. 
                                Ne pouvant héberger une base de donnée gratuitement, j'ai opté pour un stockage via des fichiers JSON.
                            </p>
                            <p class="col-lg-8 mx-auto lead"> 
                                Le site web et l'API sont hebergé sur Google Cloud et le code source de ces deux projets sont disponible sur Github. 
                            </p>
                        </div>
                    </div>
                </div>
                <%- include ("partials/footer.ejs") %>
            </div>
        </div>
    </body>
</html>