<%- include ("partials/header.ejs") %>
    <body>
        <div id="home-container">
            <%- include ("partials/sidebar.ejs") %>
            <div class="centered-container">
                <div class="centered-subcontainer">
                    <h1>Keven Philibert</h1>
                    <h2>Développeur Full Stack</h2>
                    <p>Je suis un développeur de <%=(new Date().getFullYear()-1 - 2017) %> ans d'expérience.<br>
                        Je cherche à élargir mes connaissances sur la
                        programmation et apprendre de nouveaux
                        langages de programmation.</p>
                </div>
            </div>
        </div>
    </body>
</html>