<% if (locals.languages && languages.length > 0) { %>
    <% languages.forEach((language) => { %>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold fs-4 text-body-emphasis"><%=language.type%></h3>
          <% if (language.name && language.name.length > 0) { %>
          <ul>
              <% language.name.forEach((name) => { %>
                  <li><%=name%></li>
              <% }) %>
          </ul>
          <% } %>
      </div>
    </div>
    <% }) %>
<%} else {%>
  <h2>Données indisponibles</h2>
<%}%>