/*GENERIC STUFF*/
#container {
    display: flex;
    background-color: #dfdfdd;
    min-height: 100vh;
}

.subcontainer {
    flex-direction: column;
    justify-content: space-between;
}

.subcontainer, .centered-container {
    display: flex;
    width: 100%;
    padding-left: 300px;
}

.separation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    background-color: rgb(52, 79, 128);
}

/*HOME SCREEN*/
#home-container {
    display: flex;
    background-image: url("/images/programming_background.jpg");
    background-size: 100%, 100%;
    min-height: 100vh;
}

.centered-container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.centered-subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 20%;
    gap: 12px;
    text-align: center;
    color: white;
    background-color: black;
}

/*EDUCATION SCREEN*/
.rounded-logo {
    width: 140px; 
    height: 140px;
    border-radius: 50%;
}

/*ABOUT SCREEN*/
.jumbotron {
    background-color: rgb(197, 206, 224) !important;
}

/*SIDEBAR*/
#sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
}

#sidebar ul {
    width: 100%;
}

#sidebar span {
    width: fit-content;
}

.social-network-icon img {
    width: 32px;
}

.social-network-icon img:hover {
    background-color: rgb(52, 79, 128);
}

a.nav-link:hover {
    background-color: rgb(52, 79, 128);
}

/*MOBILE DEVICES*/
@media screen and (max-width: 700px) {
    #sidebar {
        width: 120px;
    }

    .subcontainer, .centered-container {
        padding-left: 120px;
    }

    a.nav-link {
        width: 100px;
    }

    a.nav-link img {
        width: 24px;
    }

    .social-network-icon img {
        width: 24px;
    }
    
}