<main class="d-flex flex-nowrap">
  <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
      <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white fs-4">Keven Philibert</span>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto sidebar-list">
        <li>
          <a href="/" id="home" class="nav-link text-white">
            <img src="/images/house-door.svg" class="me-2 mb-1">Accueil
          </a>
        </li>
        <li>
          <a href="/experience" id="experience" class="nav-link text-white">
            <img src="/images/briefcase.svg" class="me-2 mb-1">Expérience professionnelle
          </a>
        </li>
        <li>
          <a href="/techno" id="techno" class="nav-link text-white">
            <img src="/images/lightbulb.svg" class="me-2 mb-1">Compétences
          </a>
        </li>
        <li>
          <a href="/education" id="education" class="nav-link text-white">
            <img src="/images/book.svg" class="me-2 mb-1">Éducation
          </a>
        </li>
        <li>
          <a href="/about" id="about" class="nav-link text-white">
            <img src="/images/info-circle.svg" class="me-2 mb-1">À propos
          </a>
        </li>
      </ul>
      <hr>
      <p id="information-title" class="ms-3">Mes informations</p>
      <ul class="nav col-md-4 justify-content-start list-unstyled d-flex">
        <li class="ms-3 pb-2">
          <a class="text-body-secondary social-network-icon" href="https://www.linkedin.com/in/keven-philibert-23a9a1260/" target="_blank">
            <img src="/images/linkedin.svg" alt="Linkedin icon">
          </a>
        </li>
        <li class="ms-3 pb-2">
          <a class="text-body-secondary social-network-icon" href="https://github.com/kevenphilibert/" target="_blank">
            <img src="/images/github.svg" alt="Github icon">
          </a>
        </li>
        <li class="ms-3 pb-4">
          <a class="text-body-secondary social-network-icon" href="mailto:kevenphilibert@hotmail.com">
            <img src="/images/envelope.svg" alt="Mail icon">
          </a>
        </li>
      </ul>
  </div>
  <div class="b-example-divider b-example-vr"></div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $("#" + "<%=elementID %>").addClass("active");
    
    adaptToScreenSize();
    $(window).resize(function () {
      adaptToScreenSize();
    });

    function adaptToScreenSize() {
      if ($(window).width() < 700) {
        $("#sidebar span").text("KP");
        $("#information-title").text("");
        $("a.nav-link").each(function () {
          var src = $(this).children().attr('src');
          $(this).text("");
          $(this).append(`<img src=\"${src}\" class=\"me-2 mb-1\">`);
        });
        $("ul.sidebar-list").addClass("text-center");
      } else {
        var sidebarTitle = $("#sidebar span").text();
        if (sidebarTitle != "Keven Philibert") {
          location.reload();
        }
      }
    }
</script>